@media (max-width: 1220px) {
  .top_bar {
    display: none;
  }
  .navbar-title {
    display: none;
  }
}

@media (max-width: 1200px) {
  .right_wrapper {
    .right_item {
      #sidebar {
        position: fixed;
        top: 0;
        right: -100%;
        background: rgba($color: #000000, $alpha: 0.9);
        width: 60%;
        height: 100vh;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
        .header_close {
          position: absolute;
          top: 2.4rem;
          right: 3rem;
          display: block !important;
          border-radius: 50%;
          color: #000;
          background: #fff;
        }

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          li {
            border-right: 0;
          }
          a {
            color: #fff;
            margin: 1.3rem 0;
            display: block;
            &:hover {
              color: #1b1b1b;
            }
          }
        }
      }
      .header_toggle {
        display: inline !important;
        color: #1b1b1b;
        font-size: 4.6rem;
      }
      .header_close {
        font-size: 4rem;
      }
    }
    ion-icon {
      cursor: pointer;
    }
    // show sidebar after click
    .show {
      right: 0px !important;
    }
    // show sidebar after click
  }
}

@media (max-width: 992px) {
  html {
    font-size: 58% !important;
  }
  .right_wrapper {
    .right_item {
      #sidebar {
        position: fixed;
        top: 0;
        right: -100%;
        background: rgba($color: #000000, $alpha: 0.9);
        width: 60%;
        height: 100vh;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
        .header_close {
          position: absolute;
          top: 2.4rem;
          right: 3rem;
          display: block !important;
          border-radius: 50%;
          color: #000;
          background: #fff;
        }

        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          a {
            color: #fff;
            margin: 1.3rem 0;
            display: block;
            &:hover {
              color: #1b1b1b;
            }
          }
        }
      }
      .header_toggle {
        display: inline !important;
        color: #1b1b1b;
      }
    }
    ion-icon {
      cursor: pointer;
    }
    // show sidebar after click
    .show {
      right: 0px !important;
    }
    // show sidebar after click
  }
}
/* =====================================================
These code for mobile Responsive
======================================================*/
@media (max-width: 768px) {
  html {
    font-size: 54% !important;
  }
  #carouselExampleControls .carousel-item.singing-bg {
    background-position: center right !important;
  }
  #carouselExampleControls .carousel-item.singing-bg-second {
    background-position: center left !important;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 48% !important;
  }
  .nav_wrapper {
    padding: 0 2.6rem;
    .logo {
      img {
        width: 23.4rem;
      }
    }
  }

  #sidebar {
    width: 100% !important;
  }
  .menu {
    ul {
      li {
        a {
          font-size: 13px !important;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  html {
    font-size: 40% !important;
  }
}
